body {
	font-family: Arial, sans-serif;
	width: 50%;
	margin-right: auto;
	margin-left: auto;
}

h2 {
	text-align: center;
}

.nav-box {
	padding: 0;
	background: #d9f5ff;
	border-radius: 10px;
	width: 50%;
	margin: 0px auto;
	padding: 20px 60px;
}

li {
	list-style: none;
}

.nav-item {
	text-decoration: none;
	margin: 0px auto 3px auto;
	padding: 7px 10px;
	background: #b4a8f7;
	border-left: 6px solid blue;
}

.nav-item:active {
	border-left: 6px solid violet;
}
.nav-item:hover {
	border-left: 8px solid violet;
	background: #b4a8f7;
}

a, a:active, a:hover {
	text-decoration: none;
}