* {
	margin: 0;
	padding: 0;
	outline: none;
	border: none;
	box-sizing: border-box;
}

p {
	margin: 0;
}

body {
	font-family: Roboto, sans-serif;
}

.row button {
	font-size: 13px;
    border: 1px solid #E0E0E0;
    box-sizing: border-box;
    border-radius: 2px;
    background-color: #fff;
    text-align: center;
    padding: 12px 21px;
	margin-right: 16px;
}

button:hover {
	background-color: #dddddd;
}

.card:hover {
	background-color: #dddddd;
}
	
header {
	height: ;
	width: 100%;
	position: fixed;
	background-color: #FFFFFF;
	box-shadow: 0px 3px 16px #cecece;
}

.row {
	height: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: 16px 0;
	padding: 0 8px;
}

.right-nav {
	display: flex;
	align-items: center;
}

.line {
	color: #757575;
}

.search {
	color: #757575;
	padding: 122px 8px 50px 8px;
	font-size: 16px;
	font-weight: 400;
	line-height: 24px;
	opacity: 0.5;
}

.header {
	font-size: 22px;
	color: #1D1D1D;
	font-weight: 400;
	line-height: 34px;
	padding: 0 8px 16px 8px;
}

.cards {
	display: flex;
	flex-wrap: wrap;
}

.card {
	display: inline-block;
	margin-bottom: 16px;
}

.card-img {
	width: 100%;
	margin-bottom: 16px;
}

.card-header {
	color: #1D1D1D;
	font-size: 16px;
	line-height: 24px;
	font-weight: 400;
	margin-bottom: 4px;
}

.price {
	color: #626262;
	font-size: 14px;
	line-height: 21px;
	font-weight: 400;
	margin-bottom: 4px;
}

.time {
	color: #1D1D1D;
	font-size: 14px;
	line-height: 21px;
	font-weight: 400;
	margin-bottom: 20px;
}

.footer {
	width: 100%;
	height: 100%;
	background-color: #262626;
	font-size: 13px;
	font-weight: 400;
	line-height: 15px;
	color: #FFFFFF;
}

.white-logo {
	padding: 56px 0 40px 0;
}

.footer1 {
	display: flex;
	flex-wrap: wrap;
	margin: 32px 0 25px 0;
}

.footer1 p {
	margin: 7px 0 23px 0;
}

.download {
	display: flex;
	justify-content: center;
	margin: 42px 0px;
}

.end {
	display: flex;
	flex-wrap: wrap;
}

.end div {
	margin: 40px 0;
}

.btn-up {
	position: fixed;
	bottom: 24px;
	right: 16px;
}
	
.lang {
	height: 40px;
    width: 100%;
    background: #3B3B3B;
    border-radius: 2px;
	margin-bottom: 33px;
	display: flex;
	align-items: center;
}

select {
    width: 100%;
	border: none;
	appearance: none;
    bottom: 14px;
    font-size: 13px;
	padding-left: 40px;
    color: white;
    border: none;
    background-color: #3B3B3B;
    appearance: none;
    background: url(img/Shape.png) no-repeat 10px 50%, url(img/arrow.png) 96% / 8% no-repeat #3B3B3B;
}

.arrow {
}

@media screen and (min-width: 1200px) {
	.appstore {
		margin-right: 40px;
	}
}

@media screen and (max-width: 1200px) {
	.appstore {
		margin-right: 40px;
	}
}



@media screen and (max-width: 576px) {

	.basket {
		display: none;
	}
	.cards {
		flex-wrap: wrap;
		align-items: stretch;
	}
	.appstore {
		margin-right: 25px;
	}
	
	.end {
		display: inline-block;
	}
}