* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

p {
	margin: 0;
}

.row {
	margin-bottom: 15px;
}

.logo {
	padding: 8px;
	margin: 0;
}

.form-label {
	margin-bottom: 0;
}

body {
	font-family: Roboto, sans-serif;
	width: 100%;
}

.card {
	box-shadow: 5px 5px 5px #bdbdbd;
}

.parent {
	width: 100%;
	display: flex;
	align-items: center;
}

.navbar-brand {
	color: white;
	margin: 0;
}

.nav-link {
	font-size: 20px;
}

.portfolio {
	margin-top: 55px;
	background-color: #E9ECEF;
	transition: background-color .3s linear;
}

.portfolio:hover {
	background-color: gray;
}
	

.main-header {
	font-weight: 300;
	color: #212529;
	font-size: 72px;
}

.main-text {
	font-weight: 400;
	font-size: 16px;
	color: #212529;
	margin-bottom: 16px;
}

.main {
	display: flex;
	align-items: flex-start;
}

@media screen and (min-width: 1219px) {
	.container {
		margin: 0 50px;
	}
	.portfolio {
		padding: 64px 50px;
	}
	.main {
		padding: 32px 55px;
	}
	.profile {
		margin-right: 30px;
	}
	.main-table {
		margin: 0 55px 70px 55px;
	}
	.footer {
		padding: 16px 39px;
	}
} 
	
/*Адаптация для широкоформатных экранов (lg)*/
@media screen and (min-width: 1219px) {
	.container-fluid {
		padding: 0 50px;
	}
	.portfolio {
		padding: 64px 50px;
	}
	.main {
		padding: 32px 55px;
	}
	.profile {
		margin-right: 30px;
	}
	.main-table {
		margin: 0 55px 70px 55px;
	}
	.footer {
		padding: 16px 39px;
	}
		.main-table {
		justify-content: center;
	}
	
} 

/*Адаптация для средних экранов (md)*/
@media screen and (max-width: 1219px) {
	.container-fluid {
		padding: 0 32px;
	}
	.main {
		padding: 32px 32px;
	}
	
	.portfolio {
		padding: 72px 32px 64px 32px;
	}
	.profile {
		margin-right: 30px;
	}
	.main-table {
		margin: 32px 32px 64px 32px;
	}
	.footer {
		padding: 16px 32px;
	}
		.main-table {
		justify-content: center;
	}

}

/*Адаптация для телефонов (sm)*/
@media screen and (max-width: 768px) {	
	.main {
		flex-wrap: wrap;
		align-items: stretch;
		padding: 32px 16px;
	}
	.main-header {
		font-size: 42px;
	}
	.container-fluid {
		padding: 0 16px;
	}
	.portfolio {
		padding: 32px 16px;
	}
	.profile {
		margin-right: 0;
		margin-bottom: 30px;
	}
	.footer {
		padding: 16px 90px 16px 15px;
	}
	.main-table {
		margin: 0 16px 77px 16px;
	}
	.modal-body {
		display: flex;
		flex-wrap: wrap;
	}
	.main-table {
		justify-content: center;
	}
}	
		

.card {
	display: flex;
}

.card-header {
	font-weight: 400;
	font-size: 16px;
	line-height: 19px;
	color: black;
}

.card-title {
	font-weight: 400;
	font-size: 20px;
	line-height: 23px;
	color: black;
}

.card-text {
	font-weight: 400;
	font-size: 16px;
	line-height: 19px;
	color: black;
	margin-bottom: 0.5em;
}

.main-table {	
	display: flex;
	align-items: center;
}

.table {
	margin: 0;
}

.table td, .table th {
	padding: 15px 20px;
}

td {
	font-size: 16px;
	font-weight: 400;
	line-height: 19px;
}

th {
	font-size: 16px;
	font-weight: 700;
	line-height: 19px;
}

.colored {
	color: #007BFF;
}

.center {
	text-align: center;
}

.footer {
	background-color: #F5F5F5;
	
}

.footer-text {
	font-size: 16px;
	color: #6C757D;
	height: 400;
}